.container-xl {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  padding: 0px;
  margin-top: 6%;
  width: 50%;
}

/* Styles for smaller screens */
@media only screen and (max-width: 768px) {
  .container-xl {
    width: 80%;
    margin-top: 20%;
  }

  .table-title {
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 16px;
  }

  .upload-btn-wrapper {
    margin-top: 0px !important;

  }

  .btn {
    margin-top: 0px !important;
  }
}

.table-responsive {
  margin: 30px 0;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.table-title {
  padding-bottom: 15px;
  background: #7DA2A9;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
  display: flex; /* Use flexbox to align items */
  justify-content: space-between; /* Align items with space between */
}

.table-title h4 {
  margin: 0; /* Remove default margin for better alignment */
}

.table-footer {
  padding-top: 10px;
  text-align: center;
}




.table-content select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.table-content .p-10 {
  padding: 10px;
}

.table-content .p-t-b-10 {
  padding: 10px 0px;
}

.requiredStar {
  color: red;
  padding-left: 5px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.word-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.word-box p {
  margin-bottom: 10px;
}

.word-list {
  list-style-type: none;
  padding: 0;
}

.word-list li {
  margin-bottom: 8px;
}

.word-list li span:first-child {
  font-weight: bold;
  margin-right: 5px;
}

.word-list li span:last-child {
  color: #777;
}

.custom-upload-btn {
  text-align: center;
  border: 1px solid #7DA2A9;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin: 0 ; /* Add this line to center the button horizontally */
}

.reset-btn {
  background: #808080; /* Grey background */
  border: none;
  cursor: pointer;
  margin-left: 10px;
  color: #fff; /* White text color */
  font-size: .6em;
  border-radius: 50%; /* Make it circular */
  width: 15px; /* Set a specific width */
  height: 15px; /* Set a specific height */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.reset-btn:hover {
  background: #8B0000; /* Dark red background on hover */
}

.upload-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: darkred;
  margin-left: 10px;
}

